@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(../res/font/Roboto-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../res/font/Roboto-Thin.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
}
#content {
    padding: 10px 30px 10px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
}
a,
a:hover {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 150px;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}
h2 {
    font-size: 50px;
    font-weight: 300;
}
h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
h2:empty,
h3:empty {
    display: none;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
#options {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
}
#options img {
    height: 32px;
    width: 32px;
    -webkit-transition: .2s;
    transition: .2s;
}
#options img:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: .2s;
    transition: .2s;
}