@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(Roboto-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(Roboto-Thin.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
}
#content {
    padding: 30px;
    background: rgba(0,0,0,.8);
    text-align: center;
}
h1 {
    font-size: 150px;
    font-weight: 100;
}
h2 {
    font-size: 50px;
    font-weight: 300
}
/* THE IMAGES SHOULD BE DISPLAYED AS IF THEY ARE BACKGROUND WITH background-size: cover.
    Currently, they're only doing that if they're smaller than the screen.
    TODO: Fix this. */
.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}