#settings-content * {
    /*text-align: left;*/
}

#title {
    text-align: center;
}

#save {
  font-size: 18px;
  padding: 8px 10px;
  font-family: sans-serif;
  appearance: none;
  color: #fff;
  background-color: #79AABA;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 1px;
}

#save:hover {
  background-color: #4DB0D1;
}

#save:active {
  background-color: #346392;
  text-shadow: -1px 1px #193047;
}

.button-holder {
    text-align: center;
}

#status {
    font-size: 16px;
    text-align: center;
}

.description {
    font-size: 14px;
}
